<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        @*<li>@Html.ActionLink("Continental","Index","Country")</li>*@
        <li>@Html.ActionLink("Country", "Index", "Country")</li>
        <li>@Html.ActionLink("City", "Index", "City")</li>
        <li>@Html.ActionLink("Area", "Index", "Area")</li>
    </ul>
    @Html.Partial("_LoginPartial")
</div>
