@model IEnumerable<continent.Models.city>
@{
    ViewBag.Title = "Index";
}


<h2>Countries</h2>
<h2>@Html.ActionLink("Create", "Create")</h2>
<table border="1">
    <thead>
        <tr>
            <td>Country</td>
            <td>Name</td>
            <td colspan="2">Actions</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m.country.name</td>
                <td>@m.name</td>
                <td>@Html.ActionLink("Edit", "Edit", new { Id = m.id })</td>
                <td>@Html.ActionLink("Delete", "Delete", new { Id = m.id })</td>
            </tr>
        }
    </tbody>
</table>

<div id="cityTable"></div>

@section scripts{

    <script>
        $(function () {

            $('#cityTable').jtable({

                title: 'City Table',

                actions: {
                    listAction: '/City/getData',
                    createAction: '/City/Create',
                    updateAction: '/City/Edit',
                    deleteAction: '/City/Delete',
                },

                fields: {
                    id: {
                        key: true,
                        list: false
                    },
                    name: {
                        title: 'Name',
                        width: '45%'
                    }
                }

            });
            $('#cityTable').jtable('load');

        });
    </script>

}
